/***********************************************************************
layout rule
**********************************************************************/

.l-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.l-mainCol {
  background: #f5f5f5;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .is-split & {
    width: 280px;
    right: auto;
  }
}
.l-subCol {
  background: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .is-split & {
    left: 280px;
    min-width: 320px;
  }
}

.l-header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
.l-content {
  padding-top: 70px;
  margin-bottom: 40px;
}

/* l-container
----------------------------------------------------------*/
.l-container {
}
@include mq-pc {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
  }
}
@include mq-tb {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 760px;
  }
}
@include mq-sp {
  .l-container {
    padding: 0 10px;
  }
}
