/***********************************************************************
layout rule
**********************************************************************/

.l-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  // overflow: scroll;
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.l-mainCol {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
}
.l-subCol {
  position: absolute;
  left: 280px;
  top: 0;
  right: 0;
  bottom: 0;
}

.l-header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
}
.l-content {
  padding-top: 70px;
  margin-bottom: 40px;
}

/* l-container
----------------------------------------------------------*/
.l-container {
}
@include mq-pc {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 960px;
  }
}
@include mq-tb {
  .l-container {
    margin: 0 auto;
    padding: 0 10px;
    width: 760px;
  }
}
@include mq-sp {
  .l-container {
    padding: 0 10px;
  }
}
