/***********************************************************************
module rule
**********************************************************************/

.m-nav {
  .m-nav_main {
    background: #fff;
    border-bottom: 1px solid #ccc;
    &:after {
      display: block;
      clear: both;
      content: '';
    }
  }
  .m-nav_btn {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
    color: $linkColor;
    outline: none;
    display: inline-block;
    &.m-nav_btn-list {
      float: left;
    }
    &.m-nav_btn-logout {
      float: right;
    }
  }
  .m-nav_icon {
    font-size: 2.0rem;
  }
}

.m-modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .m-modal_filter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: table;
  }
  .m-modal_mainWrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .m-modal_main {
    display: inline-block;
    background: #fff;
  }
  .m-modal_title {
    position: relative;
    padding: 10px 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .m-modal_close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
    cursor: pointer;
  }
  .m-modal_content {
    text-align: left;
    padding: 20px;
  }
}

.m-list {
  background: #fff;
  .m-list_item {
    position: relative;
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    &.m-list_item-btn {
      cursor: pointer;
    }
    &:hover,
    &.is-active {
      background: lighten(#3498db, 40%);
    }
  }
  .m-list_arrowIcn {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 20px;
    margin-top: -10px;
    line-height: 1.0;
    color: #ccc;
  }
}

.m-imgList {
  padding-bottom: 20px;
  .m-imgList_listName {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .m-imgList_loading {
    padding: 20px 0;
    text-align: center;
  }
  .m-imgList_images {
    margin-bottom: 20px;
  }
  .m-imgList_imgItem {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    @include mq-pc {
      width: 20%;
      padding: 2px;
    }
    @media only screen and (min-width: 1400px) {
      width: 16.6666666%;
      padding: 2px;
    }
    @include mq-not-pc {
      width: 25%;
      padding: 1px;
    }
  }
  .m-imgList_img {
    background-position: center top;
    background-size: cover;
    padding-top: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    @include ov;
  }
  .m-imgList_loadBtn {
    padding: 0 10px;
  }
}

.m-tweetModal {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  overflow: hidden;

  .m-tweetModal_imgList {
    height: 100%;
    width: 10000px;
  }
  .m-tweetModal_imgWrapper {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
  }
  .m-tweetModal_img {
    max-width: 100%;
    max-height: 100%;
  }
  .m-tweetModal_loading {
    font-size: 4.0rem;
    color: #fff;
  }
  .m-tweetModal_blob {
  }
  .m-tweetModal_close {
    color: #fff;
    font-size: 3.0rem;
    line-height: 1.0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    outline: none;
    @include ov;
  }
  .m-tweetModal_nav {

  }
  .m-tweetModal_navItem {
    position: absolute;
    top: 50%;
    font-size: 4.0rem;
    margin-top: -3.5rem;
    line-height: 1.0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    cursor: pointer;
    @include ov;
    &.m-tweetModal_navItem-prev {
    }
    &.m-tweetModal_navItem-next {
      right: 0;
    }
  }
  .m-tweetModal_textContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.3) 40px, rgba(0,0,0,0.5));
    color: #fff;
    padding: 40px 0 10px;
  }
}

.m-tweet01 {
  .m-tweet01_row {
    display: table;
  }
  .m-tweet01_leftCol {
    display: table-cell;
    padding-right: 10px;
    width: 48px;
  }
  .m-tweet01_rightCol {
    display: table-cell;
  }
  .m-tweet01_icon {
    img {
      border-radius: 5px;
      width: 48px;
      height: 48px;
    }
  }
  .m-tweet01_userInfo {

  }
  .m-tweet01_name {
    font-weight: bold;
  }
  .m-tweet01_screenName {
    font-size: 1.2rem;
  }
  .m-tweet01_date {
    font-size: 1.1rem;
  }
  .m-tweet01_text {
    font-size: 1.4rem;
    @include mq-sp {
      font-size: 1.3rem;
      line-height: 1.4;
    }
  }
  .m-tweet01_actionBtns {
    padding-top: 7px;
  }
  .m-tweet01_actionBtn {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
  }
}
.m-tweet01-textWhite {
  color: #fff;
}



.m-btn {
  background: $linkColor;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 1.5rem 2.0rem;
  font-size: 1.6rem;
  cursor: pointer;
  outline: none;
  &.m-btn-full {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  &:hover {
    @include ov;
  }
}

.m-actionBtn {
  display: inline-block;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.0rem;
  text-align: center;
  vertical-align: top;
  i {
    font-size: 1.8rem;
  }
  &:hover,
  &.is-active {
    color: $linkColor;
  }
}

.m-alert {
  border: 1px solid #e74c3c;
  border-radius: 5px;
  background: #fff;
  color: #e74c3c;
  padding: 1.0rem;
}

.m-appBox {
  $tmpColor: #3498db;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  .m-appBox_head {
    background: $tmpColor;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: table;
    font-size: 18px;
    color: #fff;
    line-height: 1.0;
    table-layout: fixed;
    a {
      color: inherit;
    }
    .fa {
      font-size: 23px;
    }
  }
  .m-appBox_headLeft {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 45px;
  }
  .m-appBox_headTitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1.0;
    height: 45px;
  }
  .m-appBox_headRight {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 45px;
    height: 45px;
  }
  .m-appBox_headBtn {
    display: inline-block;
    cursor: pointer;
    padding: 6px 7px 4px;
    border-radius: 5px;
    line-height: 1.0;
    &:hover {
      background: lighten($tmpColor, 10%);
    }
  }
  .m-appBox_content {
    position: absolute;
    left: 0;
    top: 45px;
    right: 0;
    bottom: 0;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .is-split & {
    .m-appBox_head {
      border-left: 1px solid #fff;
    }
    .m-appBox_content {
      border-left: 1px solid #ccc;
    }
  }
}

.m-wholeLoading {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .m-wholeLoading_filter {
    display: table;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .m-wholeLoading_loading {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
  }
}

/* fade
----------------------------------------------------------*/
.fade-enter-active,
.fade-leave-active {
  transition: .2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* slide
----------------------------------------------------------*/
.slideleft-enter-active,
.slideleft-leave-active {
  transition: .2s;
}

.slideleft-enter,
.slideleft-leave-to {
  transform: translateX(-100%);
}

.slideright-enter-active,
.slideright-leave-active {
  transition: .2s;
}

.slideright-enter,
.slideright-leave-to {
  transform: translateX(100%);
}

.slideup-enter-active,
.slideup-leave-active {
  transition: .2s;
}

.slideup-enter,
.slideup-leave-to {
  transform: translateY(-100%);
}

.slidedown-enter-active,
.slidedown-leave-active {
  transition: .2s;
}

.slidedown-enter,
.slidedown-leave-to {
  transform: translateY(100%);
}


/* zoom
----------------------------------------------------------*/
.zoom-enter-active,
.zoom-leave-active {
  transition: .2s;
}

.zoom-enter,
.zoom-leave-to {
  transform: scale(0);
}
